<main>
    <div class="container-fluid mt-5">

        <div class="row justify-content-center align-items-center mb-4">

            <div ngbDropdown class="col-12 col-md-3 d-flex">
                <button type="button" class="btn filtro" style="width: 15rem;" id="dropdownFilter" ngbDropdownToggle>
                    Filtrado
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownFilter">
                    <form class="px-4 py-3">
                        <div class="mb-3">
                            <label for="exampleDropdownFormPassword1">Precio mínimo</label>
                            <input type="text" class="form-control" placeholder="Mínimo" />
                        </div>

                        <div class="mb-3">
                            <label for="exampleDropdownFormPassword1">Precio máximo</label>
                            <input type="text" class="form-control" placeholder="Máximo" />
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">Todas</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">Gasoil A</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">Gasoil B</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">Gasolina 95</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">Gasolina 98</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">Hidrógeno</label>
                        </div>
                    </form>
                    <div class="dropdown-divider"></div>
                    <button type="button" ngbDropdownItem>Filtrar</button>
                </div>
            </div>

            <div class="col-12 col-md-9">
                <h1 class="title">Gasolineras</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            @for (gasolinera of listadoGasolineras; track gasolinera.id) {
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">

                <div class="card mb-5" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{gasolinera.rotulo}}</h5>
                        <p class="card-text">
                            {{gasolinera.provincia}}, {{gasolinera.municipio}}, {{gasolinera.localidad}}
                            , {{gasolinera.postalCode}}, {{gasolinera.direccion}}
                        </p>
                        <div>
                            <img src alt>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</main>
